*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: fuenteProyecto;
    src: url(/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
body{
    font-family: fuenteProyecto;
    background-image: url("../img/fondo4-min.jpg");

}

/* GRID */

.grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav    nav    nav    nav"
                         "header header header header"
                         "main   main   main   aside"
                         "footer footer footer footer";
}

@media(max-width:576px){
    .grid{
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "nav    nav    nav    nav"
                             "header header header header"
                             "main   main   main   main  "
                             "aside  aside  aside  aside "
                             "footer footer footer footer";
    }
}

/* GRID SOBRE NOSOTROS */


/* GRID SERVICIOS */


/* SLIDER INICIO */

.sliderInicio{
    width: 500px;
    height: 700px;
    margin: auto;
    overflow: hidden;
}
.sliderInicio ul{
    display: flex;
    width: 400%;
    padding: 0;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}
.sliderInicio ul li{
    width: 100%;
    list-style: none;
}
.sliderInicio img{
    width: 100%;
}
@keyframes cambio {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}


/* NAVEGADOR */

.navegador{
    grid-area: nav;
    background-color: black;
    padding: 20px;
}
.navegador .fa-bars {
    display: none;
    color: white;
}
.navegador > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.navegador > ul > li > a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 20px;
}
.logo img{
    width: 210px;
}
.tituloInicio {
    text-align: center;
    padding: 20px;
}
.tituloContacto{
    text-align: center;
    padding: 20px;
}
.tituloPreguntas{
    text-align: center;
    padding: 20px;
}
.tituloQuienes{
    text-align: center;
    padding: 20px;
}
.tituloServicios{
    text-align: center;
    padding: 20px;
}
.navegador > ul > li :hover{
    background-color: #444343d8;
    border-radius: 25px;
}

/* NAVEGADOR CELULAR */

@media(max-width:576px){
    .navegador .fa-bars{
        display: block;
        font-size: 30px;
    }
    .logo > img{
        width: 150px;
        padding-left: 15px;
    }
    .navegador > ul {
        position: fixed;
        top: 0;
        left: -300px;
        flex-direction: column;
        justify-content: start;
        padding-left: 10px;
        padding: 10% 0% 0% 5% ;
        background-color: black;
        width: 250px;
        height: 100%;
        transition: 0.2s;
    }
    .navegador .fa-bars:hover + ul{
        left: 0;
    }
    .navegador ul:hover{
        left: 0;
    }
}


/* HEADER */

.gridHeader{
    grid-area: header;
}

/* MAIN */

.gridMain{
    grid-area: main;
}
.inicio{
    display: flex;
    justify-content: space-between;
}
.queHacemos{
    margin: 15px;
    width: 500px;
    padding: 15px;
}
.queHacemos > h2{
    text-align: center;
}
.letraQueHacemos1{
    padding: 20px 0px 0px 50px;
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.letraQueHacemos2{
    padding: 0px 0px 45px 50px;
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.trabajosRealizados > img{
    width: 380px;
    height: 400px;
    padding: 50px 0px 20px 0px;
}
@media(max-width:576px){
    .inicio{
        display: flex;
        justify-content: center;
    }
    .trabajosRealizados{
        display: flex;
        justify-content: center;
    }
    .letraQueHacemos1{
        padding: 10px 5px 0px 5px
    }
    .letraQueHacemos2{
        padding: 0px 5px 0px 5px
    }
}

/* ASIDE */ 

.gridAside{
    grid-area: aside;
}

/* PIE PAGINA*/

.gridFooter{
    grid-area: footer;
}
.logoInstagram{
    padding: 5px 5px 5px;
    width: 40px;
}
.logoFacebook{
    width: 40px; 
    padding: 5px 5px 5px;
}
.piePagina{
    height: 130px;
    background-color: #444343d8;
    display: flex;
    color: white;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 30px;
}
.letraPiePagina{
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    padding: 0px 0px 4px 0px;
    color: #000;
}
.logoFooter img{
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    animation-name: logo;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-iteration-count: infinite;
}
@keyframes logo {
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(200px,0px)
    }
    
}

/* PIE PAGINA CELULAR */

@media(max-width:576px){
    .logoFooter img{
        animation: none;
        width: 90px;
        height: 90px;
        display: flex;
        align-items: center;
    }
    .letraPiePagina h5{
        font-size: 7px;
    }
}
@media(max-width:872px){
    .logoFooter img{
        animation: none;
        display: flex;
        align-items: center;
    }
    .letraPiePagina h5{
        font-size: 15px;
    }
}

/* PAG CONTACTO MONITOR ESCRITORIO*/

@media(min-width:1800px){
    .informacionContacto{
        font-size: 22px;
    }
}

/* PAG CONTACTO CELULAR */

@media(max-width:576px){
    .informacionContacto{
        padding: 0px;
    }
}

 /* PAG CONTACTO */

.contacto{
    height: 600px;
    padding-left: 100px
}
.informacionContacto{
    display: flex;
    flex-direction: column;
    padding: 15px 0px 0px 0px;
}
.informacionContacto p{
    line-height: 30px;
}
.mapaUbicacion{
    padding: 15px 0px 20px;
}
.horarios{
    font-size: 20px;
    padding: 200px 0px 0px;
}
.wpp{
    padding: 50px 0px 0px 0px;
}
.wpp img{
    padding: 40px;
    width: 150px;
}

/* PAG CONTACTO CELULAR */

@media(max-width:576px){
    .mapaUbicacion{
        display: flex;
        justify-content: center;
    }
    .dondeEstamos{
        text-align: center;
    }
    .informacionContacto{
        display: flex;
        justify-content: center;
    }
    h2{
        text-align: center;
    }

}

/* PAG PREGUNTAS FRECUENTES MONITOS ESCRITORIO*/

@media(min-width:1800px){
    .preguntasFrecuentes{
        font-size: 20px;
    }
}

/* PAG PREGUNTAS FRECUENTES */

.preguntasFrecuentes{
    padding: 20px 0px 30px 70px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    
}
.respuesta{
    padding: 5px 0px 5px 20px;
}
.pregunta{
    font-weight: bold;
}

/* CELULAR PREGUNTAS FRECUENTES */

@media(max-width:576px){ 
    .preguntasFrecuentes{
        padding: 0px 10px 20px 0px;

    }
    .respuesta{
        padding: 0px 10px 0px 50px;
    }
    .pregunta{
        padding: 0px 10px 0px 50px;
    }
}

/* LOADING */

.loading{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.911);
    position: fixed;
    z-index: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading > i{
    color: aliceblue;
    font-size: 40px;
    animation-name: rotar ;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
}
@keyframes rotar {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(90deg);
    }
    
}

/* PAGINA SOBRE NOSOTROS */

.slider{
    width: 80%;
    height: 500px;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    width: 400%;
    padding: 0;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}
.slider ul li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}
@keyframes cambio {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}

.sobreNosotros{
    padding: 5%;

}
/* SERVICIOS CELULAR */

@media(max-width:576px){
    .container{
        flex-wrap: wrap;
    }
}
/* SERVICIOS*/

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 25px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
}
.card img{
    padding: 5px;
    width: 100%;
    height: 80%;
}
.card .contenido{
    padding: 15px;
    text-align: center;
}
