.contacto {
	height: 500px;
	padding-left: 85px;
}
.mapaUbicacion {
	padding: 15px 0px 20px;
}
.ubicacion {
	h2 {
		text-align: center;
	}
}
.wpp {
	padding: 150px 0px 0px 0px;
	img {
		padding: 40px;
		width: 150px;
	}
}