.grid {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: auto auto auto auto;
	grid-template-areas: "nav    nav    nav    nav" "header header header header" "main   main   main   aside" "footer footer footer footer";
}
.gridHeader {
	grid-area: header;
}
.gridMain {
	grid-area: main;
}
.gridAside {
	grid-area: aside;
}
.gridFooter {
	grid-area: footer;
}
.navegador {
	grid-area: nav;
}
.renglonDos{
	padding-top: 0px;
}