.slider {
	width: 80%;
	height: 500px;
	margin: auto;
	overflow: hidden;
	ul {
		display: flex;
		width: 400%;
		padding: 0;
		animation: cambio 20s infinite;
		animation-direction: alternate;
		li {
			width: 100%;
			list-style: none;
		}
	}
	img {
		width: 100%;
	}
}
.sobreNosotros {
	padding: 5%;
}