* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@import "navegador";
@import "header";
@import "inicio";

@font-face {
    font-family: fuenteProyecto;
    src: url(/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
  }
  body {
    font-family: fuenteProyecto;
    background-image: url("../img/fondo4-min.jpg");
  }
  
  /* GRID */
  .grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav    nav    nav    nav" 
                      "header header header header" 
                      "main   main   main   aside" 
                      "footer footer footer footer";
  }
  
  